<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src=IntroToAngular.js></script>
<body  ng-app="myApp">

<!-- <div ng-controller="logCtrl"> -->

<button ng-click="$message)">Click to log to console</button>



<br>
<br>

<div ng-controller="myCtrl">

<button ng-click="hideFunc()">Click to see a heading</button>
<br>
<h1 ng-show="showMe">This is the hidden heading!</h1>

</div>
<br>

<div ng-controller="myCtrl2">
<button ng-click="myFunc()">Click to see a list!</button>
<div ng-show="showMe">
    <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    </ul>
</div>
</div>
</html>